:root {
    --light-modebrand: rgba(0, 0, 0, 1);
    --light-modeblack-100: rgba(0, 0, 0, 1);
    --light-modeblack-80: rgba(159, 157, 157, 1);
    --light-modeblack-60: rgba(206, 206, 206, 1);
    --light-modewhite-80: rgba(238, 238, 238, 1);
    --light-modewhite-100: rgba(255, 255, 255, 1);
    --light-modewarning: rgba(240, 154, 55, 1);
    --light-modedanger: rgba(230, 61, 67, 1);
    --dark-modebrand: rgba(255, 255, 255, 1);
    --dark-modewhite-100: rgba(255, 255, 255, 1);
    --dark-modewhite-80: rgba(143, 143, 147, 1);
    --dark-modewhite-60: rgba(99, 99, 99, 1);
    --dark-modeblack-80: rgba(52, 52, 52, 1);
    --dark-modeblack-100: rgba(0, 0, 0, 1);
    --dark-modewarning: rgba(241, 163, 59, 1);
    --dark-modedanger: rgba(195, 59, 68, 1);
    --regular-12px-font-family: "Inter", Helvetica;
    --regular-12px-font-weight: 400;
    --regular-12px-font-size: 12px;
    --regular-12px-letter-spacing: 0px;
    --regular-12px-line-height: normal;
    --regular-12px-font-style: normal;
    --regular-14px-font-family: "Inter", Helvetica;
    --regular-14px-font-weight: 400;
    --regular-14px-font-size: 14px;
    --regular-14px-letter-spacing: 0px;
    --regular-14px-line-height: normal;
    --regular-14px-font-style: normal;
    --regular-16px-font-family: "Inter", Helvetica;
    --regular-16px-font-weight: 400;
    --regular-16px-font-size: 16px;
    --regular-16px-letter-spacing: 0px;
    --regular-16px-line-height: normal;
    --regular-16px-font-style: normal;
    --regular-18px-font-family: "Inter", Helvetica;
    --regular-18px-font-weight: 400;
    --regular-18px-font-size: 18px;
    --regular-18px-letter-spacing: 0px;
    --regular-18px-line-height: normal;
    --regular-18px-font-style: normal;
    --regular-20px-font-family: "Inter", Helvetica;
    --regular-20px-font-weight: 400;
    --regular-20px-font-size: 20px;
    --regular-20px-letter-spacing: 0px;
    --regular-20px-line-height: normal;
    --regular-20px-font-style: normal;
    --regular-24px-font-family: "Inter", Helvetica;
    --regular-24px-font-weight: 400;
    --regular-24px-font-size: 24px;
    --regular-24px-letter-spacing: 0px;
    --regular-24px-line-height: normal;
    --regular-24px-font-style: normal;
    --regular-32px-font-family: "Inter", Helvetica;
    --regular-32px-font-weight: 400;
    --regular-32px-font-size: 32px;
    --regular-32px-letter-spacing: 0px;
    --regular-32px-line-height: normal;
    --regular-32px-font-style: normal;
    --regular-40px-font-family: "Inter", Helvetica;
    --regular-40px-font-weight: 400;
    --regular-40px-font-size: 40px;
    --regular-40px-letter-spacing: 0px;
    --regular-40px-line-height: normal;
    --regular-40px-font-style: normal;
    --regular-56px-font-family: "Inter", Helvetica;
    --regular-56px-font-weight: 400;
    --regular-56px-font-size: 56px;
    --regular-56px-letter-spacing: 0px;
    --regular-56px-line-height: normal;
    --regular-56px-font-style: normal;
    --regular-64px-font-family: "Inter", Helvetica;
    --regular-64px-font-weight: 400;
    --regular-64px-font-size: 64px;
    --regular-64px-letter-spacing: 0px;
    --regular-64px-line-height: normal;
    --regular-64px-font-style: normal;
    --regular-28px-font-family: "Inter", Helvetica;
    --regular-28px-font-weight: 400;
    --regular-28px-font-size: 28px;
    --regular-28px-letter-spacing: 0px;
    --regular-28px-line-height: normal;
    --regular-28px-font-style: normal;
    --semibold-14px-font-family: "Inter", Helvetica;
    --semibold-14px-font-weight: 600;
    --semibold-14px-font-size: 14px;
    --semibold-14px-letter-spacing: 0px;
    --semibold-14px-line-height: normal;
    --semibold-14px-font-style: normal;
    --semibold-16px-font-family: "Inter", Helvetica;
    --semibold-16px-font-weight: 600;
    --semibold-16px-font-size: 16px;
    --semibold-16px-letter-spacing: 0px;
    --semibold-16px-line-height: normal;
    --semibold-16px-font-style: normal;
    --semibold-18px-font-family: "Inter", Helvetica;
    --semibold-18px-font-weight: 600;
    --semibold-18px-font-size: 18px;
    --semibold-18px-letter-spacing: 0px;
    --semibold-18px-line-height: normal;
    --semibold-18px-font-style: normal;
    --semibold-20px-font-family: "Inter", Helvetica;
    --semibold-20px-font-weight: 600;
    --semibold-20px-font-size: 20px;
    --semibold-20px-letter-spacing: 0px;
    --semibold-20px-line-height: normal;
    --semibold-20px-font-style: normal;
    --semibold-24px-font-family: "Inter", Helvetica;
    --semibold-24px-font-weight: 600;
    --semibold-24px-font-size: 24px;
    --semibold-24px-letter-spacing: 0px;
    --semibold-24px-line-height: normal;
    --semibold-24px-font-style: normal;
    --semibold-28px-font-family: "Inter", Helvetica;
    --semibold-28px-font-weight: 600;
    --semibold-28px-font-size: 28px;
    --semibold-28px-letter-spacing: 0px;
    --semibold-28px-line-height: normal;
    --semibold-28px-font-style: normal;
    --semibold-32px-font-family: "Inter", Helvetica;
    --semibold-32px-font-weight: 600;
    --semibold-32px-font-size: 32px;
    --semibold-32px-letter-spacing: 0px;
    --semibold-32px-line-height: normal;
    --semibold-32px-font-style: normal;
    --semibold-40px-font-family: "Inter", Helvetica;
    --semibold-40px-font-weight: 600;
    --semibold-40px-font-size: 40px;
    --semibold-40px-letter-spacing: 0px;
    --semibold-40px-line-height: normal;
    --semibold-40px-font-style: normal;
    --semibold-56px-font-family: "Inter", Helvetica;
    --semibold-56px-font-weight: 600;
    --semibold-56px-font-size: 56px;
    --semibold-56px-letter-spacing: 0px;
    --semibold-56px-line-height: normal;
    --semibold-56px-font-style: normal;
    --medium-14px-font-family: "Inter", Helvetica;
    --medium-14px-font-weight: 500;
    --medium-14px-font-size: 14px;
    --medium-14px-letter-spacing: 0px;
    --medium-14px-line-height: normal;
    --medium-14px-font-style: normal;
    --medium-16px-font-family: "Inter", Helvetica;
    --medium-16px-font-weight: 500;
    --medium-16px-font-size: 18px;
    --medium-16px-letter-spacing: 0px;
    --medium-16px-line-height: normal;
    --medium-16px-font-style: normal;
    --medium-20px-font-family: "Inter", Helvetica;
    --medium-20px-font-weight: 500;
    --medium-20px-font-size: 20px;
    --medium-20px-letter-spacing: 0px;
    --medium-20px-line-height: normal;
    --medium-20px-font-style: normal;
    --medium-24px-font-family: "Inter", Helvetica;
    --medium-24px-font-weight: 500;
    --medium-24px-font-size: 24px;
    --medium-24px-letter-spacing: 0px;
    --medium-24px-line-height: normal;
    --medium-24px-font-style: normal;
    --medium-28px-font-family: "Inter", Helvetica;
    --medium-28px-font-weight: 500;
    --medium-28px-font-size: 28px;
    --medium-28px-letter-spacing: 0px;
    --medium-28px-line-height: normal;
    --medium-28px-font-style: normal;
    --medium-32px-font-family: "Inter", Helvetica;
    --medium-32px-font-weight: 500;
    --medium-32px-font-size: 32px;
    --medium-32px-letter-spacing: 0px;
    --medium-32px-line-height: normal;
    --medium-32px-font-style: normal;
    --medium-40px-font-family: "Inter", Helvetica;
    --medium-40px-font-weight: 500;
    --medium-40px-font-size: 40px;
    --medium-40px-letter-spacing: 0px;
    --medium-40px-line-height: normal;
    --medium-40px-font-style: normal;
    --bold-14px-font-family: "Inter", Helvetica;
    --bold-14px-font-weight: 700;
    --bold-14px-font-size: 14px;
    --bold-14px-letter-spacing: 0px;
    --bold-14px-line-height: normal;
    --bold-14px-font-style: normal;
    --bold-16px-font-family: "Inter", Helvetica;
    --bold-16px-font-weight: 700;
    --bold-16px-font-size: 16px;
    --bold-16px-letter-spacing: 0px;
    --bold-16px-line-height: normal;
    --bold-16px-font-style: normal;
    --bold-18px-font-family: "Inter", Helvetica;
    --bold-18px-font-weight: 700;
    --bold-18px-font-size: 18px;
    --bold-18px-letter-spacing: 0px;
    --bold-18px-line-height: normal;
    --bold-18px-font-style: normal;
    --bold-20px-font-family: "Inter", Helvetica;
    --bold-20px-font-weight: 700;
    --bold-20px-font-size: 20px;
    --bold-20px-letter-spacing: 0px;
    --bold-20px-line-height: normal;
    --bold-20px-font-style: normal;
    --bold-24px-font-family: "Inter", Helvetica;
    --bold-24px-font-weight: 700;
    --bold-24px-font-size: 24px;
    --bold-24px-letter-spacing: 0px;
    --bold-24px-line-height: normal;
    --bold-24px-font-style: normal;
    --bold-28px-font-family: "Inter", Helvetica;
    --bold-28px-font-weight: 700;
    --bold-28px-font-size: 28px;
    --bold-28px-letter-spacing: 0px;
    --bold-28px-line-height: normal;
    --bold-28px-font-style: normal;
    --bold-32px-font-family: "Inter", Helvetica;
    --bold-32px-font-weight: 700;
    --bold-32px-font-size: 32px;
    --bold-32px-letter-spacing: 0px;
    --bold-32px-line-height: normal;
    --bold-32px-font-style: normal;
    --bold-40px-font-family: "Inter", Helvetica;
    --bold-40px-font-weight: 700;
    --bold-40px-font-size: 40px;
    --bold-40px-letter-spacing: 0px;
    --bold-40px-line-height: normal;
    --bold-40px-font-style: normal;
    --bold-56px-font-family: "Inter", Helvetica;
    --bold-56px-font-weight: 700;
    --bold-56px-font-size: 56px;
    --bold-56px-letter-spacing: 0px;
    --bold-56px-line-height: normal;
    --bold-56px-font-style: normal;
}